/*Variables*/
:root {
    --btn-bck-color: #3882f6;
    --back-info-quote: #1f2937;
    --hero-logo-: #f9faf8;
    --link-back: #e5e7eb;
}

/* Globales */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    width: 13rem;
    padding: 1rem;
    color: var(--hero-logo-);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    border: 1px transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout {
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    background-color: var(--back-info-quote);
    padding-bottom: 5rem;
}

.header__container {
    padding: 2rem 0;
}

.header__nav {
    gap: 4rem;
}

.header__logo {
    color: var(--hero-logo-);
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
}

.nav__link {
    color: var(--link-back);
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}

/* Main Article */
.article__container {
    background-color: var(--back-info-quote);
}

.main__article {
    padding-bottom: 10rem;
}

.main__article > div {
    flex: 1;
}

.article__title {
    color: var(--hero-logo-);
    font-size: 4.8rem;
    font-weight: bolder;
    padding-right: 6rem;
    line-height: 5.5rem;
    margin-bottom: 1rem;
}

.article__text {
    color: var(--link-back);
    font-size: 1.8rem;
    font-weight: 400;
    padding-right: 12rem;
    margin-bottom: 2.5rem;
}

.article__img {
    padding: 0.5rem;
    background-color: var(--hero-logo-);
    border-radius: 5px;
    box-shadow: 0px 3px 16px 0px rgba(56,130,246,0.85);
}

.article__img > img {
    max-height: 30rem;
    width: 100%;
    border-radius: 5px;
}

.article__btn {
    background-color: var(--btn-bck-color);
}
