/*Variables*/
:root {
    --btn-bck-color: #3882f6;
    --back-info-quote: #1f2937;
    --hero-logo-: #f9faf8;
    --link-back: #e5e7eb;
}

/* Globales */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.btn {
    width: 13rem;
    padding: 1rem;
    color: var(--hero-logo-);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    border: 1px transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout {
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    background-color: var(--back-info-quote);
    padding-bottom: 5rem;
}

.header__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__nav {
    gap: 4rem;
}

.header__logo > img {
    width: 10rem;
    cursor: pointer;
}

.nav__link {
    color: var(--link-back);
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}

/* Main Article */
.article__container {
    background-color: var(--back-info-quote);
}

.main__article {
    padding-bottom: 10rem;
}

.main__article > div {
    flex: 1;
}

.article__title {
    color: var(--hero-logo-);
    font-size: 4.8rem;
    font-weight: bolder;
    padding-right: 6rem;
    line-height: 5.5rem;
    margin-bottom: 1rem;
}

.article__text {
    color: var(--link-back);
    font-size: 1.8rem;
    font-weight: 400;
    padding-right: 8rem;
    margin-bottom: 2.5rem;
}

.article__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.article__img > img {
    max-width: 45rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--hero-logo-);
    box-shadow: 0px 3px 16px 0px rgba(56,130,246,0.85);
}

.article__btn {
    background-color: var(--btn-bck-color);
}

/*Info*/
.main__info {
    background-color: var(--hero-logo-);
    padding: 5rem 0 10rem 0;
}

.info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__title {
    font-size: 3.6rem;
    margin-bottom: 4rem;
    color: var(--back-info-quote);
}

.info__cards {
    display: flex;
    gap: 3.5rem;
}

.info__card {
    flex: 1;
}

.info__img {
    border-radius: 1rem;
    width: 100%;
    max-height: 38rem;
    padding: 0.3rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 3px 16px 0px rgba(56,130,246,0.85);
}

.info__legend {
    font-size: 1.6rem;
    color: var(--back-info-quote);
    text-align: center;
    opacity: .7;
}

.main__cite {
    background-color: var(--link-back);
    padding: 10rem 40rem;
    font-size: 3.6rem;
    font-weight: 300;
    color: var(--back-info-quote);
}

.cite {
    display: block;
    text-align: right;
    font-size: 2.5rem;
}
